<a href="https://colab.research.google.com/github/L1dd0n/L1dd0n/blob/main/Stair_problem.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Stair problem project
### Breif explanation: 
My friend (who works as a project manager on a construction site) came to me with a problem regarding the need to change the height of each step of several flights of stairs to match the average of said stair case.

Tabula-py needs to be installed each time as it cannot be contained on colab.

In [ ]:
!pip install tabula-py

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting tabula-py
  Downloading tabula_py-2.5.1-py3-none-any.whl (12.0 MB)
     |████████████████████████████████| 12.0 MB 8.1 MB/s
Collecting distro
  Downloading distro-1.8.0-py3-none-any.whl (20 kB)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from tabula-py) (1.21.6)
Requirement already satisfied: pandas>=0.25.3 in /usr/local/lib/python3.7/dist-packages (from tabula-py) (1.3.5)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.25.3->tabula-py) (2022.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.25.3->tabula-py) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.25.3->tabula-py) (1.15.0)
Installing collected packages: distro, tabula-py
Successfully installed distro-1.8.0 tabula-py-2.5.1

These are the libaries i will need.

In [ ]:
import statistics as s
from tabula.io import read_pdf
import pandas as pd

Here we have the function that calculates the average and then the on going difference, because if you change one step then the rest change as well so that has been accounted for.

In [ ]:
def stair_solution(stairs):
    difference = [] 
    average = round(stairs.mean())
    for i in range(len(stairs)):
        if len(difference) > 0:
            difference.append(((stairs[i]- average) + difference[i-1]))
            # print(difference[i-1])
        else:
            difference.append((stairs[i])- average)
    return difference

Now lets read the pdf into a dataframe

In [ ]:

def read_stair_pdf():
  pdf_path = "https://github.com/L1dd0n/L1dd0n/raw/main/Risers_in_WM.pdf"
  df_list = read_pdf(pdf_path, pages= "all")
  first_df = pd.concat(df_list[0:], axis =1)
  
  return(first_df)

The pdf that my friend sent me was not ready to be intergrated into the stair solution function so i had to clean it up by taking out the unnamed columns, renameing one column as pandas seemed to belive it had the same index as the one prior and then converting the floats to integers.

In [ ]:
def clean_columns(df):
  new_cols = ['454', '455', '456', '457', '458', '459', '460', '461', '461.1',
       '462', '462.1', '463', '463.1', '464', '464.1', '465', '465.1', '466',
       '466.1', '467', '467.1']
  unnamed_cols = df.columns.str.contains('Unnamed')
  df_l = df.drop(df[df.columns[unnamed_cols]], axis=1)
  df_l.columns = new_cols
  df_l.fillna(df_l.mean(), inplace= True)
  df_l = df_l.astype(int)
  return(df_l)

Finally i then called the previous functions into a varible which then looped through each column of the new data frame and printed the column name, the average and the differences.

In [ ]:
#reading in document and concating all tables 


#calculate stair difference
df_v1 = read_stair_pdf()
df_v2 = clean_columns(df_v1) 
for col in df_v2.columns:
  print("Column name: ", col)
  print("Average: ", round(df_v2[col].mean()))
  print("Differences: ", stair_solution(df_v2[col]))

# ! rm *.*

Column name:  454
Average:  193
Differences:  [15, 12, 11, 11, 14, 17, 19, 16, 15, 14, 13, 12, 9, 11, 8, 8, 5, 2]
Column name:  455
Average:  193
Differences:  [11, 8, 8, 8, 10, 9, 8, 6, 3, 0, 2, -1, -1, 1, -1, -5, 0, 5]
Column name:  456
Average:  216
Differences:  [2, 4, 6, 3, 2, 0, -1, 8, 8, 4, 6, 8, 2, 2, 6, 6, 6, 6]
Column name:  457
Average:  214
Differences:  [16, 12, 13, 4, 0, -2, -2, 3, 4, 9, 15, 14, 0, 0, 6, 6, 6, 6]
Column name:  458
Average:  214
Differences:  [3, -5, -6, -1, 2, 3, 5, 3, 4, 2, 3, -2, -1, 5, 4, 4, 4, 4]
Column name:  459
Average:  211
Differences:  [6, 3, 8, 4, 3, 3, 0, -1, 1, 0, -1, -4, -5, -4, 0, 0, 0, 0]
Column name:  460
Average:  210
Differences:  [6, -1, -1, -1, -1, 0, 0, -1, 0, -4, -2, -1, 1, 1, 3, 5, 5, 5]
Column name:  461
Average:  198
Differences:  [-18, -24, -21, -19, -19, -18, -14, -14, -16, -12, -10, -12, -10, -11, -5, 4, 4, 4]
Column name:  461.1
Average:  185
Differences:  [-5, -4, -7, -9, -11, -12, -12, -15, -13, -13, -13, -11, -13, -8, -8, -5, 3, 3]
Column name:  462
Average:  193
Differences:  [0, 0, 2, 3, 10, 12, 9, 13, 12, 14, 11, 14, 16, 13, 10, -3, -4, -5]
Column name:  462.1
Average:  193
Differences:  [-3, -6, -9, -11, -10, -11, -11, -14, -14, -12, -7, -4, -2, 3, 0, -3, -4, -5]
Column name:  463
Average:  196
Differences:  [5, 9, 8, 10, 9, 10, 7, 4, 7, 9, 5, 5, 4, 3, 3, -4, -5, -6]
Column name:  463.1
Average:  198
Differences:  [15, 20, 20, 17, 15, 10, 7, 6, 5, 5, 10, 8, 10, 7, 5, 3, 3, 3]
Column name:  464
Average:  193
Differences:  [15, 12, 9, 10, 9, 11, 10, 11, 11, 11, 13, 18, 15, 19, 26, 6, 6, 6]
Column name:  464.1
Average:  183
Differences:  [5, 5, 12, 13, 10, 10, 8, 3, 4, 3, 3, 6, 3, 5, 5, 5, 6, 6]
Column name:  465
Average:  198
Differences:  [6, -2, -4, -2, -1, -1, 1, -2, -2, -1, 1, 5, 7, 8, 9, 1, 1, 1]
Column name:  465.1
Average:  184
Differences:  [4, 5, 5, 10, 6, 9, 17, 24, 25, 31, 37, 41, 43, 39, 45, 49, 5, 5]
Column name:  466
Average:  197
Differences:  [3, -1, 2, 1, 6, 4, 0, -4, -7, -8, -8, -5, -1, -1, -5, -6, -7, -8]
Column name:  466.1
Average:  197
Differences:  [3, 6, 10, 11, 5, 8, 6, 7, 8, 7, 5, 8, 8, 13, 14, -1, -2, -3]
Column name:  467
Average:  199
Differences:  [7, 8, 5, 6, 7, 5, 4, 5, 6, 7, 11, 13, 13, 8, 7, -1, -2, -3]
Column name:  467.1
Average:  186
Differences:  [12, 10, 8, 2, -4, -4, 7, 5, 6, 5, 7, 7, 4, 6, 11, 5, -7, -8]

/usr/local/lib/python3.7/dist-packages/pandas/core/generic.py:6392: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return self._update_inplace(result)

In [ ]:
df_v2

,454,455,456,457,458,459,460,461,461.1,462,...,463,463.1,464,464.1,465,465.1,466,466.1,467,467.1
0,208,204,218,230,217,217,216,180,180,193,...,201,213,208,188,204,188,200,200,206,198
1,190,190,218,210,206,208,203,192,186,193,...,200,203,190,183,190,185,193,200,200,184
2,192,193,218,215,213,216,210,201,182,195,...,195,198,190,190,196,184,200,201,196,184
3,193,193,213,205,219,207,210,200,183,194,...,198,195,194,184,200,189,196,198,200,180
4,196,195,215,210,217,210,210,198,183,200,...,195,196,192,180,199,180,202,191,200,180
5,196,192,214,212,215,211,211,199,184,195,...,197,193,195,183,198,187,195,200,197,186
6,195,192,215,214,216,208,210,202,185,190,...,193,195,192,181,200,192,193,195,198,197
7,190,191,225,219,212,210,209,198,182,197,...,193,197,194,178,195,191,193,198,200,184
8,192,190,216,215,215,213,211,196,187,192,...,199,197,193,184,198,185,194,198,200,187
9,192,190,212,219,212,210,206,202,185,195,...,198,198,193,182,199,190,196,196,200,185
10,192,195,218,220,215,210,212,200,185,190,...,192,203,195,183,200,190,197,195,203,188
11,192,190,218,213,209,208,211,196,187,196,...,196,196,198,186,202,188,200,200,201,186
12,190,193,210,200,215,210,212,200,183,195,...,195,200,190,180,200,186,201,197,199,183
13,195,195,216,214,220,212,210,197,190,190,...,195,195,197,185,199,180,197,202,194,188
14,190,191,220,220,213,215,212,204,185,190,...,196,196,200,183,199,190,193,198,198,191
15,193,189,216,214,214,211,212,207,188,180,...,189,196,173,183,190,188,196,182,191,180
16,190,198,216,214,214,211,210,198,193,192,...,195,198,193,184,198,140,196,196,198,174
17,190,198,216,214,214,211,210,198,185,192,...,195,198,193,183,198,184,196,196,198,185

Warning: Total number of columns (21) exceeds max_columns (20) limiting to first (20) columns.