<a href="https://colab.research.google.com/github/L1dd0n/L1dd0n/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install tabula-py

In [ ]:
def stair_problem(stairs):
    difference = []    
    for i in range(len(stairs)):
        if len(difference) > 0:
            difference.append(((stairs[i]- 193) + difference[i-1]))
            # print(difference[i-1])
        else:
            difference.append((stairs[i])- 193)
        stairs[i] = 193 
    print(difference)
    # print(stairs)
stairs = [190, 190, 192, 193, 196, 196, 195, 190, 192, 192, 192, 192, 190, 195, 190, 193, 190, 190]
stair_problem(stairs)

[-3, -6, -7, -7, -4, -1, 1, -2, -3, -4, -5, -6, -9, -7, -10, -10, -13, -16]

In [65]:
from tabula.io import read_pdf
import pandas as pd
def read_stair_pdf():
  pdf_path = "Risers_in_WM.pdf"
  df_list = read_pdf(pdf_path, pages = "all")
  #add df's together with concat
  # first_df = pd.concat(df_list[:2], axis =1, ignore_index= True)
  
  # return(first_df)

# ! rm *.*
read_stair_pdf()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16
0,1,208,NaN,204,NaN,218.0,NaN,230.0,NaN,217.0,NaN,217.0,NaN,216.0,NaN,180.0,NaN
1,2,190,18.0,190,14.0,218.0,0.0,210.0,20,206.0,11.0,208.0,9.0,203.0,13.0,192.0,-12.0
2,3,192,-2.0,193,-3.0,218.0,0.0,215.0,-5,213.0,-7.0,216.0,-8.0,210.0,-7.0,201.0,-9.0
3,4,193,-1.0,193,0.0,213.0,5.0,205.0,10,219.0,-6.0,207.0,9.0,210.0,0.0,200.0,1.0
4,5,196,-3.0,195,-2.0,215.0,-2.0,210.0,-5,217.0,2.0,210.0,-3.0,210.0,0.0,198.0,2.0
5,6,196,0.0,192,3.0,214.0,1.0,212.0,-2,215.0,2.0,211.0,-1.0,211.0,-1.0,199.0,-1.0
6,7,195,1.0,192,0.0,215.0,-1.0,214.0,-2,216.0,-1.0,208.0,3.0,210.0,1.0,202.0,-3.0
7,8,190,5.0,191,1.0,225.0,-10.0,219.0,-5,212.0,4.0,210.0,-2.0,209.0,1.0,198.0,4.0
8,9,192,-2.0,190,1.0,216.0,9.0,215.0,4,215.0,-3.0,213.0,-3.0,211.0,-2.0,196.0,2.0
9,10,192,0.0,190,0.0,212.0,4.0,219.0,-4,212.0,3.0,210.0,3.0,206.0,5.0,202.0,-6.0
10,11,192,0.0,195,-5.0,218.0,-6.0,220.0,-1,215.0,-3.0,210.0,0.0,212.0,-6.0,200.0,2.0
11,12,192,0.0,190,5.0,218.0,0.0,213.0,7,209.0,6.0,208.0,2.0,211.0,1.0,196.0,4.0
12,13,190,2.0,193,-3.0,210.0,8.0,200.0,13,215.0,-6.0,210.0,-2.0,212.0,-1.0,200.0,-4.0
13,14,195,-5.0,195,-2.0,216.0,-6.0,NaN,#VALUE!,220.0,-5.0,212.0,-2.0,210.0,2.0,197.0,3.0
14,15,190,5.0,191,4.0,220.0,-4.0,220.0,#VALUE!,213.0,7.0,215.0,-3.0,212.0,-2.0,204.0,-7.0
15,16,193,-3.0,189,2.0,NaN,220.0,NaN,220,NaN,213.0,NaN,215.0,212.0,0.0,207.0,-3.0
16,17,190,3.0,198,-9.0,NaN,0.0,NaN,0,NaN,0.0,NaN,0.0,NaN,212.0,NaN,207.0
17,18,190,0.0,198,0.0,NaN,0.0,NaN,0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0