<a href="https://colab.research.google.com/github/L1dd0n/L1dd0n/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install tabula-py

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: tabula-py in /usr/local/lib/python3.7/dist-packages (2.5.1)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from tabula-py) (1.21.6)
Requirement already satisfied: distro in /usr/local/lib/python3.7/dist-packages (from tabula-py) (1.8.0)
Requirement already satisfied: pandas>=0.25.3 in /usr/local/lib/python3.7/dist-packages (from tabula-py) (1.3.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.25.3->tabula-py) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.25.3->tabula-py) (2022.4)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.25.3->tabula-py) (1.15.0)

In [2]:
def stair_problem(stairs):
    difference = []    
    for i in range(len(stairs)):
        if len(difference) > 0:
            difference.append(((stairs[i]- 193) + difference[i-1]))
            # print(difference[i-1])
        else:
            difference.append((stairs[i])- 193)
        stairs[i] = 193 
    print(difference)
    # print(stairs)
stairs = [190, 190, 192, 193, 196, 196, 195, 190, 192, 192, 192, 192, 190, 195, 190, 193, 190, 190]
stair_problem(stairs)

[-3, -6, -7, -7, -4, -1, 1, -2, -3, -4, -5, -6, -9, -7, -10, -10, -13, -16]

In [51]:
#reading in document and concating all tables 
from tabula.io import read_pdf
import pandas as pd

def read_stair_pdf():
  pdf_path = "https://github.com/L1dd0n/L1dd0n/raw/main/Risers_in_WM.pdf"
  df_list = read_pdf(pdf_path, pages= "all")
  first_df = pd.concat(df_list[0:], axis =1)
  
  return(first_df)

def drop_columns(df):
  unnamed_cols = df.columns.str.contains('Unnamed')
  df_l = df.drop(df[df.columns[unnamed_cols]], axis=1)
  return(df_l)
 
 


def drop_na(df):
  # df_dropped = df[df != "#VALUE!"]
  


  
#   return df_dropped  

#calculate stair difference
df_v1 = read_stair_pdf()
df_v2 = drop_columns(df_v1) 
# df_v3 = drop_na(df_v2)
display(df_v2)
# ! rm *.*

,454,455,456,457,458,459,460,461,461,462,...,463,463.1,464,464.1,465,465.1,466,466.1,467,467.1
0,208,204,218.0,230.0,217.0,217.0,216.0,180.0,180.0,193.0,...,201.0,213.0,208.0,188.0,204.0,188.0,200.0,200.0,206.0,198.0
1,190,190,218.0,210.0,206.0,208.0,203.0,192.0,186.0,193.0,...,200.0,203.0,190.0,183.0,190.0,185.0,193.0,200.0,200.0,184.0
2,192,193,218.0,215.0,213.0,216.0,210.0,201.0,182.0,195.0,...,195.0,198.0,190.0,190.0,196.0,184.0,200.0,201.0,196.0,184.0
3,193,193,213.0,205.0,219.0,207.0,210.0,200.0,183.0,194.0,...,198.0,195.0,194.0,184.0,200.0,189.0,196.0,198.0,200.0,180.0
4,196,195,215.0,210.0,217.0,210.0,210.0,198.0,183.0,200.0,...,195.0,196.0,192.0,180.0,199.0,180.0,202.0,191.0,200.0,180.0
5,196,192,214.0,212.0,215.0,211.0,211.0,199.0,184.0,195.0,...,197.0,193.0,195.0,183.0,198.0,187.0,195.0,200.0,197.0,186.0
6,195,192,215.0,214.0,216.0,208.0,210.0,202.0,185.0,190.0,...,193.0,195.0,192.0,181.0,200.0,192.0,193.0,195.0,198.0,197.0
7,190,191,225.0,219.0,212.0,210.0,209.0,198.0,182.0,197.0,...,193.0,197.0,194.0,178.0,195.0,191.0,193.0,198.0,200.0,184.0
8,192,190,216.0,215.0,215.0,213.0,211.0,196.0,187.0,192.0,...,199.0,197.0,193.0,184.0,198.0,185.0,194.0,198.0,200.0,187.0
9,192,190,212.0,219.0,212.0,210.0,206.0,202.0,185.0,195.0,...,198.0,198.0,193.0,182.0,199.0,190.0,196.0,196.0,200.0,185.0
10,192,195,218.0,220.0,215.0,210.0,212.0,200.0,185.0,190.0,...,192.0,203.0,195.0,183.0,200.0,190.0,197.0,195.0,203.0,188.0
11,192,190,218.0,213.0,209.0,208.0,211.0,196.0,187.0,196.0,...,196.0,196.0,198.0,186.0,202.0,188.0,200.0,200.0,201.0,186.0
12,190,193,210.0,200.0,215.0,210.0,212.0,200.0,183.0,195.0,...,195.0,200.0,190.0,180.0,200.0,186.0,201.0,197.0,199.0,183.0
13,195,195,216.0,NaN,220.0,212.0,210.0,197.0,190.0,190.0,...,195.0,195.0,197.0,185.0,199.0,180.0,197.0,202.0,194.0,188.0
14,190,191,220.0,220.0,213.0,215.0,212.0,204.0,185.0,190.0,...,196.0,196.0,200.0,183.0,199.0,190.0,193.0,198.0,198.0,191.0
15,193,189,NaN,NaN,NaN,NaN,212.0,207.0,188.0,180.0,...,189.0,196.0,173.0,183.0,190.0,188.0,NaN,182.0,191.0,180.0
16,190,198,NaN,NaN,NaN,NaN,NaN,NaN,193.0,NaN,...,NaN,NaN,NaN,184.0,NaN,140.0,NaN,NaN,NaN,174.0
17,190,198,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Warning: Total number of columns (21) exceeds max_columns (20) limiting to first (20) columns.

In [30]:
from tabula.io import read_pdf
import pandas as pd

def read_stair_pdf():
  pdf_path = "https://github.com/L1dd0n/L1dd0n/raw/main/Risers_in_WM.pdf"
  df_list = read_pdf(pdf_path, pages= "all",)
  first_df = pd.concat(df_list[0:], axis =1)
  
  return(first_df)

read_stair_pdf()

,Unnamed: 0,454,Unnamed: 1,455,Unnamed: 2,456,Unnamed: 3,457,Unnamed: 0,458,...,465.1,Unnamed: 4,466,Unnamed: 0,466.1,Unnamed: 1,467,Unnamed: 2,467.1,Unnamed: 3
0,1,208,NaN,204,NaN,218.0,NaN,230.0,NaN,217.0,...,188.0,NaN,200.0,NaN,200.0,NaN,206.0,NaN,198.0,NaN
1,2,190,18.0,190,14.0,218.0,0.0,210.0,20,206.0,...,185.0,3.0,193.0,7.0,200.0,0.0,200.0,6.0,184.0,14.0
2,3,192,-2.0,193,-3.0,218.0,0.0,215.0,-5,213.0,...,184.0,1.0,200.0,-7.0,201.0,-1.0,196.0,4.0,184.0,0.0
3,4,193,-1.0,193,0.0,213.0,5.0,205.0,10,219.0,...,189.0,-5.0,196.0,4.0,198.0,3.0,200.0,-4.0,180.0,4.0
4,5,196,-3.0,195,-2.0,215.0,-2.0,210.0,-5,217.0,...,180.0,9.0,202.0,-6.0,191.0,7.0,200.0,0.0,180.0,0.0
5,6,196,0.0,192,3.0,214.0,1.0,212.0,-2,215.0,...,187.0,-7.0,195.0,7.0,200.0,-9.0,197.0,3.0,186.0,-6.0
6,7,195,1.0,192,0.0,215.0,-1.0,214.0,-2,216.0,...,192.0,-5.0,193.0,2.0,195.0,5.0,198.0,-1.0,197.0,-11.0
7,8,190,5.0,191,1.0,225.0,-10.0,219.0,-5,212.0,...,191.0,1.0,193.0,0.0,198.0,-3.0,200.0,-2.0,184.0,13.0
8,9,192,-2.0,190,1.0,216.0,9.0,215.0,4,215.0,...,185.0,6.0,194.0,-1.0,198.0,0.0,200.0,0.0,187.0,-3.0
9,10,192,0.0,190,0.0,212.0,4.0,219.0,-4,212.0,...,190.0,-5.0,196.0,-2.0,196.0,2.0,200.0,0.0,185.0,2.0
10,11,192,0.0,195,-5.0,218.0,-6.0,220.0,-1,215.0,...,190.0,0.0,197.0,-1.0,195.0,1.0,203.0,-3.0,188.0,-3.0
11,12,192,0.0,190,5.0,218.0,0.0,213.0,7,209.0,...,188.0,2.0,200.0,-3.0,200.0,-5.0,201.0,2.0,186.0,2.0
12,13,190,2.0,193,-3.0,210.0,8.0,200.0,13,215.0,...,186.0,2.0,201.0,-1.0,197.0,3.0,199.0,2.0,183.0,3.0
13,14,195,-5.0,195,-2.0,216.0,-6.0,NaN,#VALUE!,220.0,...,180.0,6.0,197.0,4.0,202.0,-5.0,194.0,5.0,188.0,-5.0
14,15,190,5.0,191,4.0,220.0,-4.0,220.0,#VALUE!,213.0,...,190.0,-10.0,193.0,4.0,198.0,4.0,198.0,-4.0,191.0,-3.0
15,16,193,-3.0,189,2.0,NaN,220.0,NaN,220,NaN,...,188.0,2.0,NaN,193.0,182.0,16.0,191.0,7.0,180.0,11.0
16,17,190,3.0,198,-9.0,NaN,0.0,NaN,0,NaN,...,140.0,48.0,NaN,0.0,NaN,182.0,NaN,191.0,174.0,6.0
17,18,190,0.0,198,0.0,NaN,0.0,NaN,0,NaN,...,NaN,140.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,174.0